@{
    ViewData["Title"] = "ORTumentaria";
}

<div class="text-center">
    <h1 class="display-4">ORTumentaria</h1>
    
    <div class="row">
        <div class="col-lg-6">
            <h3>Remeras</h3>
            <img src="~/css/Imagenes/Remeras.png" alt="remeras" width="500" height="700">
            <br />
            <br />
            <br />
            <h3>Pantalones</h3>
            <img src="~/css/Imagenes/Pantalon.png" alt="remeras" width="500" height="700">




        </div>






        <div class="col-lg-6">
            <h3>Calzado</h3>
            <img src="~/css/Imagenes/Zapas.png" alt="remeras" width="500" height="700">
            <br />
             <br />
            <br />
            <h3>Medias</h3>
            <img src="~/css/Imagenes/Media.png" alt="remeras" width="500" height="700">

        </div>
    </div>
    
</div>
